body {
    background-color: #7FFFD4; /* sea foam green */
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 40px;
}
font-family: "Comic Sans MS", cursive, sans-serif;